{% extends 'OroUIBundle:actions:update.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}

{% oro_title_set({
    params : {
        "%entityName%": 'oro.oauth2server.client.entity_label'|trans
    }
}) %}

{% block navButtons %}
    {{ parent() }}

    {{ UI.cancelButton(path(form.vars.data.frontend ? 'oro_oauth2_storefront_index' : 'oro_oauth2_index')) }}

    {% set html = UI.saveAndCloseButton({
        'route': form.vars.data.frontend ? 'oro_oauth2_storefront_view' : 'oro_oauth2_view',
        'params': {'id': '$id'}
    }) %}

    {{ UI.dropdownSaveButton({'html': html}) }}
{% endblock navButtons %}

{% block pageHeader %}
    {% set title = 'oro.ui.create_entity'|trans({'%entityName%':
        (form.vars.data.frontend
            ? 'oro.oauth2server.client.entity_storefront_label'
            : 'oro.oauth2server.client.entity_label'
        )|trans
    }) %}
    {% include 'OroUIBundle::page_title_block.html.twig' with { title: title } %}
{% endblock pageHeader %}

{% block content_data %}
    {% set id = 'oauth-application' %}

    {% set grantsRow %}
        {% if 'hidden' in form.grants.vars.block_prefixes|keys %}
            <div data-validation-ignore="true">
                <div class="client-grants">
                    {{ form_row(form.grants) }}
                </div>
            </div>
        {% else %}
            <div class="client-grants">
                {{ form_row(form.grants) }}
            </div>
        {% endif %}
    {% endset %}

    {% set ownerField %}
        {% if form.owner is defined %}
            <div id="client-owner" class="hide">
                {{ form_row(form.owner) }}
            </div>
        {% endif %}
    {% endset %}

    {% set dataBlocks = [{
        'title': 'General'|trans,
        'subblocks': [
            {
                'title': '',
                'data': [
                    form.organization is defined ? form_row(form.organization) : '',
                    form_row(form.name),
                    form_row(form.active),
                    grantsRow,
                    ownerField
                ]
            }
        ]
    }] %}

    {% set data = {
        'formErrors': form_errors(form)? form_errors(form) : null,
        'dataBlocks': dataBlocks,
    } %}
    {{ parent() }}
    <script type="text/javascript">
        loadModules(['jquery'], function($){
            $(function() {
                var clientGrantsChoice = '.client-grants input:radio';
                var clientOwnerSelect = '#client-owner';

                $(document).ready(function() {
                    if ($(clientGrantsChoice).prop('checked') && $(clientGrantsChoice).val() === 'client_credentials') {
                        $(clientOwnerSelect).removeClass('hide');
                    } else {
                        $(clientOwnerSelect).addClass('hide');
                    }
                });

                $(document).on('change', clientGrantsChoice, function() {
                    if ($(this).prop('checked') && $(this).val() === 'client_credentials') {
                        $(clientOwnerSelect).removeClass('hide');
                    } else {
                        $(clientOwnerSelect).addClass('hide');
                    }
                });
            });
        });
    </script>
{% endblock content_data %}
